<!-- <div class="container">
  <div class="logo-placeholder"></div>
  <div class="user-name">
    <%= @current_user.first_name %>
    <%= @current_user.last_name %>
  </div>
  <div class="text">
    <%= @current_user.text %>
  </div>
  <div class="email">
    <%= link_to "Email me: #{@current_user.email}", "#" %>
  </div>
</div>
<hr>
  <%= link_to "Edit my style", edit_style_path(@current_style) %>
</hr> -->
<div class="container">
  <div class="posts-wrapper row">

    <div class="post">
      <div class="post-head">
        <div class="edit_style"><%= link_to "Customise My Style", edit_style_path(@current_style) %></div>
        <div class="name">
          <%= @current_user.first_name %>
          <%= @current_user.last_name %>
        </div>
        <div class="email"><%= link_to "Email me: #{@current_user.email}", "#" %></div>
      </div>
      <div class="image center-block">
      </div>
      <p class="caption">
        <%= @current_user.text %>
      </p>
    </div>

  </div>
</div>
